<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to cocktails_path, class: "navbar-brand" do %>
      <%= image_tag "https://image.flaticon.com/icons/svg/2925/2925410.svg", width:200 %>
      <% end %>


      <h1>One more Cocktail</h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", cocktails_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add a Cocktail to list", new_cocktail_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://image.flaticon.com/icons/svg/804/804645.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>
      </li>
    </ul>
  </div>
</div>
